[submodule "test-sub"]
	path = test-sub
	url = https://github.com/pthakur-circle/test-sub.git
[submodule "v8/lib/forge-std"]
	path = v8/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
